*/bin/*
*/build/*
.vscode/*
.DS_Store
XTCSnake/proj.ios_mac/XTCSnake.xcodeproj/project.xcworkspace/xcuserdata/willyoung.xcuserdatad/UserInterfaceState.xcuserstate
XTCSnake/proj.ios_mac/XTCSnake.xcodeproj/xcuserdata/willyoung.xcuserdatad/xcschemes/xcschememanagement.plist
XTCSnake/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/willyoung.xcuserdatad/xcschemes/xcschememanagement.plist
